.menu{
    /* height: 100px; */
    padding: 10px;
    display:flex;
    justify-content: space-evenly;
    overflow-x: auto;
}
.menuName{
    /* display: inline; */
    width:100px;
    margin: 0px 20px;
    cursor: pointer;
    color: rgb(107, 163, 216);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.active{
    color:#96771e !important;
    border-bottom: 1px solid #96771e;
}
