body,html {
  margin: 0;
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* height: 100%;
    margin: 0; */
}

code {
  font-family: 'Merriweather', serif;
}
